# Clase 3: Uso de listas y estructuras de control de tipo bucle (for)

### Ejercicio 1
Crear una lista con todos los participantes de la clase que incluyan nombre, altura, edad y el nombre de la mascota

In [13]:
mi_lista =[['Sofia',1.64,'Gandalf','Merlin','Chimuela','Lola'],
           ['Johan', 37,1.73,'Ada'],
           ['Andrea',25,1.60,'NA'],
           ['Johanna',44,1.58,'3 hijas'],
           ['Carolina',35,1.59,'NA'],
           ['Raquel',37,1.60,'Sammy'],
           ['Monica',28,1.58,'NA']]
print(mi_lista)

[['Sofia', 1.64, 'Gandalf', 'Merlin', 'Chimuela', 'Lola'], ['Johan', 37, 1.73, 'Ada'], ['Andrea', 25, 1.6, 'NA'], ['Johanna', 44, 1.58, '3 hijas'], ['Carolina', 35, 1.59, 'NA'], ['Raquel', 37, 1.6, 'Sammy'], ['Monica', 28, 1.58, 'NA']]

In [5]:
print(mi_lista[0][0])
print(mi_lista[1][0])
print(mi_lista[2][0])
print(mi_lista[3][0])
print(mi_lista[4][0])
print(mi_lista[5][0])
print(mi_lista[6][0])

Sofia
Johan
Andrea
Johanna
Carolina
Raquel
Monica

In [16]:
for persona in mi_lista:
    print(persona[0],persona[1], persona[2])

Sofia 1.64 Gandalf
Johan 37 1.73
Andrea 25 1.6
Johanna 44 1.58
Carolina 35 1.59
Raquel 37 1.6
Monica 28 1.58

In [15]:
for lista in mi_lista:
    print(lista[1:3])

[1.64, 'Gandalf']
[37, 1.73]
[25, 1.6]
[44, 1.58]
[35, 1.59]
[37, 1.6]
[28, 1.58]

In [11]:
for lista in mi_lista:
    print(lista[1:4])

[1.64, 'Gandalf', 'Merlin']
[37, 1.73, 'Ada']
[25, 1.6, 'NA']
[44, 1.58, '3 hijas']
[35, 1.59, 'NA']
[37, 1.6, 'Sammy']
[28, 1.58, 'NA']

In [14]:
for persona in mi_lista:
    for dato in persona:
        print(dato)

Sofia
1.64
Gandalf
Merlin
Chimuela
Lola
Johan
37
1.73
Ada
Andrea
25
1.6
NA
Johanna
44
1.58
3 hijas
Carolina
35
1.59
NA
Raquel
37
1.6
Sammy
Monica
28
1.58
NA

### Ejercicio 2
Crear una función que sume dos números

In [17]:
def sumar (numb_a,numb_b):
    resultado = numb_a + numb_b
    return resultado

In [18]:
sumar(6,7)

13

### Ejercicio 3
Crear una lista con todos los participantes de la clase que incluyan nombre, peso, edad y el nombre de la mascota

In [27]:
mi_nueva_lista =[['Sofia',69,1.64,'Gandalf','Merlin','Chimuela','Lola'],
           ['Johan', 76, 1.73,'Ada'],
           ['Andrea',65,1.60,'NA'],
           ['Johanna',54,1.58,'3 hijas'],
           ['Carolina',67,1.59,'NA'],
           ['Raquel',50,1.60,'Sammy'],
           ['Monica',65,1.58,'NA']]

* Crear una función que calcule el IMC

In [20]:
def calcular_imc (peso,talla):
    return peso/(talla**2)

* Usar la función creada en el item anterior para calcular el IMC de cada participante de la clase almacendo en la lista

In [28]:
for persona in mi_nueva_lista:
    imc = calcular_imc (persona[1], persona[2])
    print ('El imc de', persona [0],'es',imc,'felicitaciones, estas muy bien asi')

El imc de Sofia es 25.654372397382513 felicitaciones, estas muy bien asi
El imc de Johan es 25.393431120318084 felicitaciones, estas muy bien asi
El imc de Andrea es 25.390624999999996 felicitaciones, estas muy bien asi
El imc de Johanna es 21.63114885435026 felicitaciones, estas muy bien asi
El imc de Carolina es 26.502116213757365 felicitaciones, estas muy bien asi
El imc de Raquel es 19.531249999999996 felicitaciones, estas muy bien asi
El imc de Monica es 26.037493991347535 felicitaciones, estas muy bien asi