Tipos de complejidad

n2 (ene cuadrado)

#Elementos iterables:

Lista: puede ser una cadena de texto. Se ejemplifica con los corchetes. 

mi_lista = [7,8,9,6,5]

Esta lista siempre va en corchete, las posiciones siempre empiezan por cero, tiene cinco índices que empiezan en cero. Esta es una lista de enteros, pero también se puede tener una lista combinada.  Puede estar o no ordenada.

In [1]:
mi_lista = [7,8,9,6,5]
print (mi_lista [0])

7

Una lista puede ir dentro de otra lista: 

mi_lista_primaria = [7,8,9,5]

mi_lista_secundaria = [7,8,9,01,11,mi_lista_primaria]

Llamar elementos de varias listas: revisar.

Hacer una lista con una base de datos:

Lista de listas: es una matriz, dos dimensiones.

In [2]:
mi_lista = [["Sofía",37,1.73,"Ada"],
            ["Sofía",23,1.64,"Gandalf"],
            ["Andrea",25,1.60,"NA"],
            ["Johanna",44,1.58,"3 hijos"],
            ["Carolina",35,1.59,"NA"]]
print(mi_lista)

[['Sofía', 37, 1.73, 'Ada'], ['Sofía', 23, 1.64, 'Gandalf'], ['Andrea', 25, 1.6, 'NA'], ['Johanna', 44, 1.58, '3 hijos'], ['Carolina', 35, 1.59, 'NA']]

In [9]:
mi_lista = [["Johan",37,1.73,"Ada"],
            ["Sofía",23,1.64,"Gandalf"],
            ["Andrea",25,1.60,"NA"],
            ["Johanna",44,1.58,"3 hijos"],
            ["Carolina",35,1.59,"NA"]]
print(mi_lista [4])
print(mi_lista [4][2])

['Carolina', 35, 1.59, 'NA']
1.59

En la anterior lista de listas, la posición 5 no existe entonces va a mostrar error, recordar que empiza en cero. 
Cada persona tiene 4 elementos, entonces se puede pedir el elemento que uno requiera de cada ítem.

las listas tienen n dimensiones, se puede tener varias listas en una.

¡Todo string o cadena de texto es una lista!

Puedo hacer mil líneas de código para poder imprimir la información de una tabla, pero es ineficiente, por lo que requiero iterar. 
Con for puedo hacerlo, se le pone una variable temporal que va a almacenar cada uno de los elementos de la lista.

In [10]:
print(mi_lista [0][0])
print(mi_lista [1][0])
print(mi_lista [2][0])
print(mi_lista [3][0])
print(mi_lista [4][0])

Johan
Sofía
Andrea
Johanna
Carolina

Esto anterior me muestra el nombre, pero es ineficiente si quiero sacar todos los elementos. 

Creo entonces una variable temporal que tenga relación con la base de datos. 

Si quiero un rango pongo 1:4, 1:100, cerrado a la izquiera y abierto a la derecha es decir que toma el 1 pero no toma el 100.

In [17]:
for persona in mi_lista:
    print(persona[0:3])

['Johan', 37, 1.73]
['Sofía', 23, 1.64]
['Andrea', 25, 1.6]
['Johanna', 44, 1.58]
['Carolina', 35, 1.59]

In [18]:
for persona in mi_lista:
    print(persona)

['Johan', 37, 1.73, 'Ada']
['Sofía', 23, 1.64, 'Gandalf']
['Andrea', 25, 1.6, 'NA']
['Johanna', 44, 1.58, '3 hijos']
['Carolina', 35, 1.59, 'NA']

Una cadena es una lista. 

la variable temporal como persona, letra, puede ser reemplazada por lo que sea, no importa, es solo ponerle para que busque en la lista y va a buscar en el número de elementos que tenga, ya el nombre le dice. 

For: sirve para todo lo que se pueda iterar.

el código dice que tome la variable n y almacene los valores de mi cadena o lista

In [24]:
mi_cadena = "ejemplo más simple"
for letra in mi_cadena:
    print(letra)

e
j
e
m
p
l
o

m
á
s

s
i
m
p
l
e

Puedo escribir un for dentro de un for (bucle dentro de un bucle) para imprimir cada dato dentro de la lista:

In [25]:
for persona in mi_lista:
    for dato in persona:
        print(dato)

Johan
37
1.73
Ada
Sofía
23
1.64
Gandalf
Andrea
25
1.6
NA
Johanna
44
1.58
3 hijos
Carolina
35
1.59
NA

In [28]:
secuencia = [4,2,3,4,5]
for variable in secuencia:
    print(variable) # Código a ejecutar en cada iteración

4
2
3
4
5

Crear cuenta en leetcode, algoritmos, ordenar por dificultad, seleccionar two sum.

Creación de una función, se debe poner la palabra def que es una palabra reservada. Una función es una maquinita. 

¿cómo se escribe una función? 
se recomienda que sea verbos...

Hay quen introducir los argumentos. num_a, num_b ambos son números. 

se pone return cuando se crea la función pero después no porque es para usarla.

In [29]:
def sumar(num_a,num_b):
    resultado = num_a + num_b
    return resultado

In [32]:
def sumar(num_a,num_b):
    return num_a + num_b

se puede hacer de alguna de las dos maneras.

In [30]:
sumar (6,7)

13

In [33]:
mi_lista = [["Sofía",76,1.73,"Ada"],
            ["Sofía",69,1.64,"Gandalf"],
            ["Andrea",65,1.60,"NA"],
            ["Johanna",54,1.58,"3 hijos"],
            ["Carolina",67,1.59,"NA"]]
print(mi_lista)

[['Sofía', 76, 1.73, 'Ada'], ['Sofía', 69, 1.64, 'Gandalf'], ['Andrea', 65, 1.6, 'NA'], ['Johanna', 54, 1.58, '3 hijos'], ['Carolina', 67, 1.59, 'NA']]

In [34]:
def calcular_imc (peso,talla):
    return peso/(talla**2)

In [38]:
calcular_imc (56,1.76)

18.078512396694215

In [36]:
for persona in mi_lista:
    imc = calcular_imc(persona[1],persona[2])
    print("El IMC de", persona [0],"es",imc)

El IMC de Sofía es 25.393431120318084
El IMC de Sofía es 25.654372397382513
El IMC de Andrea es 25.390624999999996
El IMC de Johanna es 21.63114885435026
El IMC de Carolina es 26.502116213757365



Tupla: lista no modificable. 

Diccionario: conjunto de elementos, no está ordenado, se puede modificar y cada elemento tiene un valor.